<form class="form-horizontal" onsubmit="return false;">
    <img src="static/img/ajax-loader.gif" data-bind="visible: is_loading"/>
    <div class="control-group" data-bind="visible: is_version_data_retrived">
        <div>{{ _('Installed Version') }}: <span data-bind="html: installed_version"></span></div>
        <div>{{ _('Candidate Version') }}: <span data-bind="html: candidate_version"></span></div>
    </div>
    <div class="row-fluid">
        <div class="offset4 span4">
            <a title="Check Updates" class="btn btn-primary" data-bind="click: get_version">Check for Updates</a>
            <a title="Update" class="btn btn-primary" data-bind="click: update_octoprint, visible: is_upgradable">Update!</a>
        </div>
    </div>
</form>
